<?xml version="1.0"?>
<configuration>
    <include resource="org/seedstack/seed/core/logging/logback-defaults.xml"/>

    <!-- LEVEL CAN NOT BE DEBUG -->
    <logger name="org.apache" level="INFO"></logger>

    <root level="DEBUG">
        <!-- Switch to STDOUT if color output is not supported -->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>